*{
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F76707;
    --secondary-color: #2AC1BC;
    --section-3-background-color: #FDD2B5;
}

@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*section-1*/
.section-1 {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 300px 600px;
    height: 600px;
}

.section-1  h3 {
    font-size: 40px;
    font-family: 'GmarketSansMedium';
    margin-bottom: 15px;
}

.section-1 .app-name {
    font-family: 'PartialSansKR-Regular';
    font-size: 60px;
    margin-bottom: 30px;
}

.section-1 .paragraph-1 {
    font-size: 30px;
    line-height: 50px;
}

/*section-2*/
.section-2{
    padding: 300px 600px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.section-2 .paragraph-2{
    font-size: 60px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    color: var(--primary-color);
    text-align: right;   
}

/*section-3*/
.section-3 {
    padding: 180px 600px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--section-3-background-color);
}

.section-3 .paragraph-3{
    font-size: 60px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    color: var(--secondary-color); 
}

/*section-4*/
.section-4{
    padding: 300px 600px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.section-4 .paragraph-4{
    font-size: 60px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    color: var(--primary-color);
    text-align: right;   
}

/*section-6*/
.section-6{
    padding: 300px 800px;
    text-align: center;
    background-color: var(--section-3-background-color);
}

.section-6 .title-1 {
    color: var(--secondary-color);
    font-size: 40px;
    font-family: 'PartialSansKR-Regular';
    margin-bottom: 20px;
}

.section-6 .title-2 {
    color: var(--primary-color);
    font-size: 60px;
    font-family: 'PartialSansKR-Regular';
    margin-bottom: 40px;
}

.section-6 .paragraph-5{
    font-size: 30px;
    font-family: 'GmarketSansMedium';
    line-height: 50px;
}

.secondary-color {
    color: white;
    background-color: var(--secondary-color);
}
