* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F76707;
    --secondary-color: #2AC1BC;
    --section-3-background-color: #FDD2B5;
}

@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*section-1*/
.section-1 {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 300px 250px;
    height: 500px;
}

.section-1 h3 {
    font-size: 40px;
    font-family: 'GmarketSansMedium';
    margin-bottom: 15px;
}

.section-1 .app-name {
    font-family: 'PartialSansKR-Regular';
    font-size: 60px;
    margin-bottom: 30px;
}

.section-1 .paragraph-1 {
    font-size: 30px;
    line-height: 50px;
}

/*section-2*/
.section-2 {
    padding: 180px 250px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.section-2 .paragraph-2 {
    font-size: 60px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    color: var(--primary-color);
    text-align: right;
}

/*section-3*/
.section-3 {
    padding: 180px 250px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--section-3-background-color);
}

.section-3 .paragraph-3 {
    font-size: 60px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    color: var(--secondary-color);
    text-align: left; /* 가운데 정렬 추가 */
}

/*section-4*/
.section-4 {
    padding: 180px 250px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.section-4 .paragraph-4 {
    font-size: 60px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    color: var(--primary-color);
    text-align: right;
}

.sectio-4 img {
    width: 350px;
}

/*section-5*/
.section-5 {
    padding: 180px 400px;
}

.section-5 .container2 {
    display: flex;
    justify-content: space-between;
}

.section-5 .title-3 {
    color: var(--primary-color);
    font-size: 60px;
    font-family: 'PartialSansKR-Regular';
    text-align: center;
    margin-bottom: 150px;
}

.section-5 .container1 {
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin-bottom: 30px;
}

.section-5 .container1 .craft {
    font-size: 30px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    margin-bottom: 20px;
}

.section-5 .container1 .paragraph-6 {
    font-size: 20px;
}

/*section-6*/
.section-6 {
    padding: 200px 500px;
    background-color: var(--section-3-background-color);
}

.section-6 .title-1 {
    color: var(--secondary-color);
    font-size: 40px;
    font-family: 'PartialSansKR-Regular';
    margin-bottom: 20px;
    text-align: center;
}

.section-6 .title-2 {
    color: var(--primary-color);
    font-size: 60px;
    font-family: 'PartialSansKR-Regular';
    margin-bottom: 40px;
    text-align: center;
}

.section-6 .paragraph-5 {
    font-size: 30px;
    font-family: 'GmarketSansMedium';
    line-height: 50px;
}

.secondary-color {
    color: white;
    background-color: var(--secondary-color);
}

/* 이 부분은 이미 작성된 CSS 규칙입니다. */
.section-7 {
    background-color: var(--primary-color);
    padding: 200px 400px;
}

.section-7 .role {
    color: white;
    font-family: 'PartialSansKR-Regular';
    display: flex;
    align-items: end;
    margin-bottom: 40px;
}

.section-7 .info {
    display: flex;
    align-items: end;
}

.section-7 .social {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 10px;
}

.section-7 .social span {
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'GmarketSansMedium';
}

/* 인라인 스타일을 별도로 추가한 CSS 규칙 */
.jian .role p.d-role {
    font-size: 60px;
}

.jian .role p.name {
    font-size: 30px;
    margin-left: 30px;
}

.jian .info img {
    margin-right: 40px;
}

.hyunji {
    margin: 70px 0;
}

.hyunji .role p.d-role {
    font-size: 60px;
}

.hyunji .role p.name {
    font-size: 30px;
    margin-left: 30px;
}

.hyunji .info img {
    margin-right: 40px;
}

.jaehyun .role p.d-role {
    font-size: 60px;
}

.jaehyun .role p.name {
    font-size: 30px;
    margin-left: 30px;
}

.jaehyun .info img {
    margin-right: 40px;
}


/* Responsive Design */
@media (max-width: 1200px) {
    .section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-7 {
        padding: 150px 50px;
    }
}

@media (max-width: 768px) {
    .section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-7 {
        flex-direction: column;
        text-align: center;
        padding: 100px 20px;
    }

    .section-1 img, .section-3 img, .section-5 img {
        width: 100%;
        height: auto;
    }

    .section-2 img {
        width: 250px;
    }

    .section-4 img {
        width: 200px;
    }

    .section-5 .container2 {
        flex-direction: column;
        align-items: center;
    }

    .section-5 .container1 {
        width: 90%;
        margin-bottom: 20px;
    }

    .section-7 .role, .section-7 .info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-7 .social {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .section-1 h3, .section-1 .app-name, .section-1 .paragraph-1, 
    .section-2 .paragraph-2, .section-3 .paragraph-3, 
    .section-4 .paragraph-4, .section-5 .title-3,
    .section-6 .title-1, .section-6 .title-2, .section-6 .paragraph-5,
    .section-7 .role, .section-7 .social span {
        font-size: 20px;
    }

    .section-7 .role {
        margin-bottom: 20px;
    }

    .section-5 img[src*="Group 371.png"] {
        display: none;
    }

    /* 추가된 부분 */
    .section-2 .paragraph-2,
    .section-4 .paragraph-4 {
        text-align: center;
        margin-top: 20px;
    }

    .section-3 .paragraph-3 {
        text-align: center;
        margin-bottom: 20px;
    }

    

    .section-1 .paragraph-1 {
        line-height: 30px;
    }
    
    .section-1 .app-name {
        font-size: 40px;
    }

    .section-5 .title-3 {
        margin-bottom: 50px;
    }


    .section-5 .craft-container .container1 .craft {
        font-size: 20px;
    }

    .section-5 .craft-container .container1 .paragraph-6 {
        font-size: 15px;
    }

    .section-6 .title-2 {
        font-size: 30px;
    }

    .section-6 .paragraph-5 {
        line-height: 35px;
        font-size: 18px;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
    }
    
    .craft-container {
        width: 90%;
        justify-content: space-around; 
    }

    .craft-container .container1 {
        width: 80%; 
    }

    .section-7 {
        padding: 100px 20px; /* 패딩 조정 */
    }

    .section-7 .jian,
    .section-7 .hyunji,
    .section-7 .jaehyun {
        margin-bottom: 80px; /* 각 요소 간의 간격 조정 */
    }

    .section-7 .role,
    .section-7 .info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-7 .role {
        margin-bottom: 20px; /* 역할 및 이름 요소의 하단 여백 조정 */
    }

    .section-7 .info img {
        margin: 10px 0; /* 이미지 간격 조정 */
    }

    .section-7 .jian .role .d-role,
    .section-7 .hyunji .role .d-role,
    .section-7 .jaehyun .role .d-role {
        font-size: 30px;
    }

    .section-7 .jian .role .name,
    .section-7 .hyunji .role .name,
    .section-7 .jaehyun .role .name {
        font-size: 25px;
        margin-top: 15px;
    }

    .section-7 .jian .info img,
    .section-7 .hyunji .info img,
    .section-7 .jaehyun .info img {
        width: 200px;
    }

    .section-7 .jian .info .social img,
    .section-7 .hyunji .info .social img,
    .section-7 .jaehyun .info .social img {
        width: 150px;
    }
}